
#nav-tabs {
	padding-left: 1;
	padding-right: 1;
	color: black;
}

.generalTabPane {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 0.8em;
}

.myPills {
	padding-bottom: 30px; 
}
