<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="../js/header.js"></script>
-->
<div id="Header">
			<div id="Upper zone">
				<div class="container-fluid">
			        	
			        	<div class ="row-fluid">
			            		
			           		<div class="col-md-3" id='logo'>
			             		<a href="./home.html">
			              			<img id="logoImg" src="../../assets/logo2.jpg" alt="Best Clothes"/>
			             		</a>
		             		</div>

		             		<!-- ver que poner para que baje todo un poco -->
		             		<div class="col-md-8">
		             			<div class="row">
			             			<div id="custom-search-input">
                						<div id="search-bar" class="input-group col-md-8">
                  							<input type="text" class="form-control input-lg" placeholder="Buscar..." />
                 							<span class="input-group-btn">
	                    						<button class="btn btn-info btn-lg" type="button">
	                      							<i class="glyphicon glyphicon-search"></i>
	                    						</button>
                  							</span>
                						</div>
             						</div>
			             		</div>
			             	</div>
		        		</div>
				</div>
			</div>

			<nav class="navbar navbar-inverse">
			  <div class="container-fluid">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			    </div>

			    <!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      <ul class="nav navbar-nav">

					<!-- Dropdown de hombres-->
			        <li class="dropdown">
			          <a href="categories.html?id=hombres" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Hombres <span class="caret"></span></a>
			          <ul class="dropdown-menu">
			            <li><a href="#">Action</a></li>
			            <li><a href="#">Another action</a></li>
			            <li><a href="#">Something else here</a></li>
			            <li role="separator" class="divider"></li>
			            <li><a href="#">Separated link</a></li>
			            <li role="separator" class="divider"></li>
			            <li><a href="#">One more separated link</a></li>
			          </ul>
			        </li>


			        <!-- Dropdown de Mujeres-->
			        <li class="dropdown">
			          <a href="categories.html?id=mujeres" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Mujeres <span class="caret"></span></a>
			          <ul class="dropdown-menu">
			            <li><a href="#">Action</a></li>
			            <li><a href="#">Another action</a></li>
			            <li><a href="#">Something else here</a></li>
			            <li role="separator" class="divider"></li>
			            <li><a href="#">Separated link</a></li>
			            <li role="separator" class="divider"></li>
			            <li><a href="#">One more separated link</a></li>
			          </ul>
			        </li>
		        
			        <!-- Dropdown de infantiles-->
			        <li class="dropdown">
			          <a href="categories.html?id=infantiles" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Infantiles <span class="caret"></span></a>
			          <ul class="dropdown-menu">
			            <li><a href="#">Action</a></li>
			            <li><a href="#">Another action</a></li>
			            <li><a href="#">Something else here</a></li>
			            <li role="separator" class="divider"></li>
			            <li><a href="#">Separated link</a></li>
			            <li role="separator" class="divider"></li>
			            <li><a href="#">One more separated link</a></li>
			          </ul>
			        </li>

			      </ul>

			      <ul class="nav navbar-nav navbar-right">

			        <!-- Carrito -->
			        <li class="dropdown">
			          <a href="userPage.html?id=carrito" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">
			          	<i class="glyphicon glyphicon-shopping-cart"></i>
			          	<span class="caret"></span>
			          </a>
			          <ul class="dropdown-menu">
			            <li><a href="#">Action</a></li>
			            <li><a href="#">Another action</a></li>
			            <li><a href="#">Something else here</a></li>
			            <li role="separator" class="divider"></li>
			            <li><a href="#">Separated link</a></li>
			          </ul>
			        </li>

			        <!-- Favoritos -->
			        <li class="dropdown">
			          <a href="userPage.html?id=favoritos" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">
			          	<i class="glyphicon glyphicon-heart"></i>
			          	<span class="caret"></span>
			          </a>
			          <ul class="dropdown-menu">
			            <li><a href="#">Action</a></li>
			            <li><a href="#">Another action</a></li>
			            <li><a href="#">Something else here</a></li>
			            <li role="separator" class="divider"></li>
			            <li><a href="#">Separated link</a></li>
			          </ul>
			        </li>



			        <!-- Cuenta -->
			        <script type="text/javascript">
			        	$(document).ready(function() {


						    $('#login-form .container-fluid .btn').click(function() {

						        var str = document.location.pathname;
						        str += '?';
						 
						        var email = $("#login-form .container-fluid #e-mail-input").val();
						        var password = $("#login-form .container-fluid #password-input").val()
						        var user_id = login(email,password);
						        if (user_id == null) {
						            console.log("Error");
						            return;
						        }
						        var query = getParameterByName('filters');
						        if (query != null && query != '') {
						        	if (str[str.length - 1] != '?') {
						        		str = str + '&';
						        	}
							        str += 'filters=' + encodeURIComponent(query);
							    }
							    query = getParameterByName('id');
						        if (query != null && query != '') {
						        	if (str[str.length - 1] != '?') {
						        		str = str + '&';
						        	}
							        str += 'id=' + query;
							    }
							    query = getParameterByName('search');
						        if (query != null && query != '') {
						        	if (str[str.length - 1] != '?') {
						        		str = str + '&';
						        	}
							        str += 'search=' + query;
							    }
							    if (str[str.length - 1] != '?') {
						        		str = str + '&';
						        	}
							        str += 'user_id=' + user_id;

							    window.location.replace(str);
						    }
						)});
			        </script>
			        <div ng-app="AccountApp">
				        <div ng-init="user_logged=check_if_logged_in()">
				        	<div ng-switch on="user_logged">
						        <div ng-switch-when="true">
							        <li class="dropdown" ng-init="user=get_user()">
							          	<a href="userPage.html?id=usuario" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">
							          		<i class="glyphicon glyphicon-user"></i> Hola {{user.name}}
							          		<span class="caret"></span>
							          	</a>
							          	<ul class="dropdown-menu" id="login-form">

							          		<div class="container-fluid">
										  		<div class="form-group">
										    		<label>Usuario</label>
										    		<input type="email" class="form-control" id="e-mail-input" placeholder="Usuario">
										  		</div>
										  		<div class="form-group">
										    		<label>Contraseña</label>
										    		<input type="password" class="form-control" id="password-input" placeholder="Contraseña">
										  		</div>
										  		<div>
										  		<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Registrarse</button>
										  		</div>
										  		<div>
										  			<a href="#">Olvidé mi contraseña</a>
										  		</div>
										  		<button type="submit" class="btn btn-default">Ingresar</button>
											</div>
							          	</ul>
							        </li>
							    </div>
							    <div ng-switch-default>
							    	puto
							    </div>

						    </div>
					    </div>
					</div>


			      </ul>
			    </div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->
			</nav>
		</div>