
#page-title {

	padding: 0.8em 0 2.5em;
	text-align: center;
}

#categories-holder {

	

}

#categories-holder > div > a > img{

	padding: 0.5em;
	border: solid 1px #E4e4e4;

}

.category-image {


}

.category-text {
		
	padding: 1em 0 1em;
	text-align: center;
};