<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Catalogo</title>

		<!-- Bootstrap stuff -->
		<script src="http://code.jquery.com/jquery-latest.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		

		<!-- My stylesheets -->
		<link rel="stylesheet" type="text/css" href="../css/common.css">
		<link rel="stylesheet" type="text/css" href="../css/header.css">
		<link rel="stylesheet" type="text/css" href="../css/catalogue.css">
		<link rel="stylesheet" type="text/css" href="../css/productThumbnail.css">
		

		<!-- Angular stuff -->
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>

		<!-- My code -->
		<script src="../../controller/catalogueCtrl.js"></script>
		<script src="../../controller/headerCtrl.js"></script>
		<script src="../../controller/thumbnailCtrl.js"></script>
		
		<script src="../js/catalogue.js"></script>


	</head>


	<body>
		

		<div> 
			<div ng-include="'header.html'"></div> <!-- Import's header -->
		</div>

		<div ng-controller="catalogueController" ng-init="breadcrumb_type=breadcrumb_type()">

			<div class="se-pre-con" id="loading_page" ng-show="loading_page"></div>


			<!-- Loads proper breadcrumb -->
			<div ng-switch="breadcrumb_type">
				<div ng-switch-when="1"> <!-- Display by category -->
					<ol class="breadcrumb">
			  			<li><a href="home.html">Home</a></li>
			  			<li ng-if="hasGenderSpecified()"><a ng-href="{{gender_link()}}">{{ gender() }}</a></li>
			  			<li class="active">{{category.name}}</li>
			  		</ol>
				</div>
				<div ng-switch-when="2"> <!-- Display by subcategory -->
					<ol class="breadcrumb">
					  	<li><a href="home.html">Home</a></li>
			  			<li ng-if="hasGenderSpecified()"><a ng-href="{{gender_link()}}">{{ gender() }}</a></li>
			  			<li><a ng-href="{{ categories_link(gender(), category.name )}}">{{ category.name }}</a></li>
			 			<li class="active"> {{ sub_category.name }} </li>
					</ol>
				</div>
				<div ng-switch-when="3"> <!-- Display by brand -->
					<ol class="breadcrumb">
					  	<li><a href="home.html">Home</a></li>
			  			<li ng-if="hasGenderSpecified()"><a ng-href="{{gender_link()}}">{{ gender() }}</a></li>
			 			<li class="active"> {{ brand }} </li>
					</ol>
				</div>
				<div ng-switch-when="4"> <!-- Display by news -->
					<ol class="breadcrumb">
					  	<li><a href="home.html">Home</a></li>
			  			<li ng-if="hasGenderSpecified()"><a ng-href="{{gender_link()}}">{{ gender() }}</a></li>
			 			<li class="active"> Novedades </li>
					</ol>
				</div>
				<div ng-switch-when="5"> <!-- Display by search results -->
					<ol class="breadcrumb">
					  	<li><a href="home.html">Home</a></li>
			 			<li class="active"> "{{ search_string }}"  </li>
					</ol>
				</div>
				<div ng-switch-when="6"> <!-- Display by sale -->
					<ol class="breadcrumb">
					  	<li><a href="home.html">Home</a></li>
			  			<li ng-if="hasGenderSpecified()"><a ng-href="{{gender_link()}}">{{ gender() }}</a></li>
			 			<li class="active"> Ofertas  </li>
					</ol>
				</div>
				<div ng-switch-default>
					<ol class="breadcrumb">
			  			<li><a href="home.html">Home</a></li>
			 			<li class="active"> Catálogo </li>
					</ol>
				</div>
			</div>


			<!-- Body part -->
			<div class="container-fluid">

				<!-- filters -->
				<div class="col-md-2">

					<!-- Filtros de seccion -->
					<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  						<div class="panel panel-default">
    						<div class="panel-heading" role="tab" id="headingOne">
      							<h4 class="panel-title">
        							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#gender" aria-expanded="true" aria-controls="collapseOne">
          								Secciones
        							</a>
     							</h4>
    						</div>
	    					<div id="gender" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
	        					<div class="panel-body">
	        						<div class="radio">
	        							<label><input type="radio" name="section-radio-buttons" value="1" ng-model="gender_filter" ng-change="sectionChanged(1)"/> Hombres</label>
	        						</div>
	        					
	      						</div>
	      						<div class="panel-body">
	        						
	        						<div class="radio">
	        							<label><input type="radio" name="section-radio-buttons" value="2" ng-model="gender_filter" ng-change="sectionChanged(2)"/> Mujeres</label>
	        						</div>
	        					
	      						</div>
	      						<div class="panel-body">
	        						
	        						<div class="radio">
	        							<label><input type="radio" name="section-radio-buttons" value="3" ng-model="gender_filter" ng-change="sectionChanged(3)"/> Infantiles</label>
	        						</div>
	        					
	      						</div>
	      						<div class="panel-body">
	        						
	        						<div class="radio">
	        							<label><input type="radio" name="section-radio-buttons" value="4" ng-model="gender_filter" ng-change="sectionChanged(4)"/> Bebes</label>
	        						</div>
	        					
	      						</div>
	   						</div>
 						</div>
					</div>

					<!-- Filtros de categoria -->
					<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  						<div class="panel panel-default">
    						<div class="panel-heading" role="tab" id="headingOne">
      							<h4 class="panel-title">
        							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#categories" aria-expanded="true" aria-controls="collapseOne">
          								Categorías
        							</a>
     							</h4>
    						</div>
    						<div ng-if="categories!=null">
		    					<div id="categories" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
		        					<div class="panel-body" ng-repeat="i in categories">
		        						
		        						<div class="radio">
		        							<label><input type="radio" name="categories-radio-buttons" ng-value="{{ i.id }}" ng-model="category_filter" ng-change="categoryChanged(i.id)"/> {{i.name}}</label>
		        						</div>
		      						</div>
		   						</div>
		   					</div>
		   					<div ng-if="categories==null">
		    					<div id="categories" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
		        					<div class="panel-body">
		        						
		        						Seleccione una sección
		        					
		      						</div>
		   						</div>
		   					</div>
 						</div>
					</div>

					<!-- Filtros de sub-categoria -->
					<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  						<div class="panel panel-default">
    						<div class="panel-heading" role="tab" id="headingOne">
      							<h4 class="panel-title">
        							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#sub-categories" aria-expanded="true" aria-controls="collapseOne">
          								Sub-Categorías
        							</a>
     							</h4>
    						</div>
	    					<div id="sub-categories" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">

	    						<div ng-if="category!=null">
		        					<div class="panel-body" ng-repeat="i in (subcategories | filter:{id:category.id})[0].values">
		        						
		        						<div class="radio">
	        								<label><input type="radio" name="sub-categories-radio-buttons" ng-value="{{ i.id }}" ng-model="sub_category_filter" ng-change="subCategoryChanged(category.id, i.id)"/> {{i.name}}</label>
	        							</div>
		        					
		      						</div>
		      					</div>
		      					<div ng-if="category==null">
		        					<div ng-repeat="i in subcategories">

		        						<div class="panel-body" ng-repeat="j in i.values">
		        						
		        							<div class="radio">
	        									<label><input type="radio" name="sub-categories-radio-buttons" ng-value="{{ j.id }}" ng-model="sub_category_filter" ng-change="subCategoryChanged(i.id, j.id)"/> {{j.name}}</label>
	        								</div>

		        						</div>
		        					
		      						</div>
		      					</div>
		      					<div ng-if="categories==null">
	        						<div class="panel-body">
	        						
	        							Seleccione una sección
	        					
	      							</div>
		   						</div>
	   						</div>
 						</div>
					</div>

					<!-- Filtros de marca -->
						<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" ng-if="(filters | filter:{id:'9'})!=null">
	  						<div class="panel panel-default">
	    						<div class="panel-heading" role="tab" id="headingOne">
	      							<h4 class="panel-title">
	        							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#marcas" aria-expanded="true" aria-controls="collapseOne">
	          								Marcas
	        							</a>
	     							</h4>
	    						</div>
		    					<div id="marcas" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
		        					<div class="panel-body" ng-repeat="i in (filters | filter:{id:'9'})[0].values">
										<div class="radio">
	        								<label><input type="radio" name="brands-radio-buttons" value={{i|removeSpaces}} ng-model="brands_filter" ng-change="brandChanged(i)"/> {{i}} </label>

	        							</div>
		        						
		        						
		      						</div>
		   						</div>

	 						</div>
						</div>

						<!-- Filtros de color -->
						<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" ng-if="(filters | filter:{id:'4'})!=null">
	  						<div class="panel panel-default">
	    						<div class="panel-heading" role="tab" id="headingOne">
	      							<h4 class="panel-title">
	        							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#colores" aria-expanded="true" aria-controls="collapseOne">
	          								Colores
	        							</a>
	     							</h4>
	    						</div>
		    					<div id="colores" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
		        					<div class="panel-body" ng-repeat="i in (filters | filter:{id:'4'})[0].values">
										<div class="radio">
	        								<label><input type="radio" name="colors-radio-buttons" value={{i|removeSpaces}} ng-model="colors_filter" ng-change="colorChanged(i)"/> {{i}} </label>

	        							</div>
		        						
		        						
		      						</div>
		   						</div>

	 						</div>
						</div>

						<!-- Filtros de talle -->
						<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" ng-if="(filters | filter:{id:'-1'})!=null">
	  						<div class="panel panel-default">
	    						<div class="panel-heading" role="tab" id="headingOne">
	      							<h4 class="panel-title">
	        							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#talles" aria-expanded="true" aria-controls="collapseOne">
	          								Talles
	        							</a>
	     							</h4>
	    						</div>
		    					<div id="talles" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">

	        						<div ng-repeat="i in (filters | filter:{name:'Talle'})">
	        							<div class="panel-body" ng-repeat="j in i.values">
	        								<div class="radio">
        										<label><input type="radio" name="colors-radio-buttons" value={{j|removeSpaces}} ng-model="size_filter" ng-change="sizeChanged(j,i.id)"/> {{j}} </label>
        									</div>
        								</div>
        							</div>
		   						</div>

	 						</div>
						</div>

						<!-- Filtros de ocasion -->
						<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" ng-if="(filters | filter:{id:'3'})!=null">
	  						<div class="panel panel-default">
	    						<div class="panel-heading" role="tab" id="headingOne">
	      							<h4 class="panel-title">
	        							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#ocasion" aria-expanded="true" aria-controls="collapseOne">
	          								Ocasión
	        							</a>
	     							</h4>
	    						</div>
		    					<div id="ocasion" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
		        					<div class="panel-body" ng-repeat="i in (filters | filter:{id:'3'})[0].values">
										<div class="radio">
	        								<label><input type="radio" name="colors-radio-buttons" value={{i|removeSpaces}} ng-model="occasion_filter" ng-change="ocassionChanged(i)"/> {{i}} </label>

	        							</div>
		        						
		        						
		      						</div>
		   						</div>

	 						</div>
						</div>
					
				</div>

				<!-- products -->
				<div class="col-md-8">

					<div class="row">


						<div class="col-md-6"> <!-- pagination -->

							<nav>
  								<ul class="pagination pagination-sm">
    								
    								<li><a href="#">Primero</a></li>
    								<li><a href="#">&lt;</a></li>
    								<li><a href="#">1</a></li>
    								<li><a href="#">2</a></li>
    								<li><a href="#">3</a></li>
    								<li><a href="#">&gt;</a></li>
    								<li><a href="#">Último</a></li>

							  	</ul>
							</nav>


						</div>

					</div>

					<div class="row">
						<div>
							<div ng-repeat="prod in products">
								<div class="col-md-4">
									<div ng-include="'productThumbnail.html'"></div>
								</div>
							</div>
						</div>
						<div ng-if="showNoProductsMessage()">
							Lo sentimos, no se han encontrado productos
						</div>
					</div>
					<div class="row">

						<nav>
  								<ul class="pagination pagination-sm">
    								
    								<li><a href="#">Primero</a></li>
    								<li><a href="#">&lt;</a></li>
    								<li><a href="#">1</a></li>
    								<li><a href="#">2</a></li>
    								<li><a href="#">3</a></li>
    								<li><a href="#">&gt;</a></li>
    								<li><a href="#">Último</a></li>

							  	</ul>
							</nav>

					</div>
				</div>
				<div class="col-md-2">

					<div class="row"
						<form role="form" class="sort-selector">
					    	<div class="form-group">
					    		<label for="sort-select">Productos por página</label>
					      		<select class="form-control" id="sort-select" ng-model="page_size" ng-change="pageSizeChanged()">
									<option value="24">24</option>
									<option value="48">48</option>
									<option value="96">96</option>
								</select>
					    	</div>
					  	</form>
					 </div>

					<div class="row"
						<form role="form" class="sort-selector">
					    	<div class="form-group">
					    		<label for="sort-select">Ordenar por</label>
					      		<select class="form-control" id="sort-select" ng-model="sorting_key" ng-change="sortKeyChanged()">
									<option value="nombre">Nombre</option>
									<option value="precio">Precio</option>
									<option value="marca">Marca</option>
								</select>
					    	</div>
					  	</form>
					 </div>

					 <div class="row">

					 	<div class="form-group">
							<label for="key-select">Orden</label>
							<form id="key-select">
								<div class="radio">
									<label><input type="radio" name="gender-selector" value="asc" ng-model="sorting_order" ng-change="sortOrderChanged()">Ascendente</label>
								</div>
								<div class="radio">
								 	<label><input type="radio" name="gender-selector" value="desc" ng-model="sorting_order" ng-change="sortOrderChanged()">Descendente</label>
								</div>
							</form>
						</div>

					 </div>

					 <div class="row">

					 	<label ng-if="applicated_filters.length > 0">Filtros aplicados:</label>
					 	<div ng-repeat="i in applicated_filters track by i.id" class="applicated-filters">
					 		<a href class="remove-filter-link" ng-click="removeFilter(i.id)">
	  							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
							</a>
					 		<span class="filter-name">{{i.name}}: </span>
					 		<span class="filter-value"> {{i.value}}</span> 
						</div>

					 </div>
				</div>
			</div>


		</div>

		<br>
		<br>
		<br>
		<div ng-app=""> 
    		<div ng-include="'footer.html'"></div> <!-- Import's footer -->
  		</div>

	</body>
</html>
