<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>CheckOut</title>


  <!-- Bootstrap stuff -->
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">



  <!-- My stylesheets -->
  <link rel="stylesheet" type="text/css" href="../css/common.css">
  <link rel="stylesheet" type="text/css" href="../css/header.css">
  <link rel="stylesheet" type="text/css" href="../css/home.css">
  <link rel="stylesheet" type="text/css" href="../css/checkout.css">



  <!-- Angular stuff -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>

  <!-- My code -->
  <script src="../../controller/headerCtrl.js"></script>
  <script src="../js/home.js"></script>

</head>
<body>

  <div>
    <div ng-include="'header.html'"></div> <!-- Import's header -->
  </div>
  <div class="container">
    <h1 class="heading-primary">3 simples pasos para finalizar tu compra</h1>




    <!--     acordeon -->
    <div class="accordion">
      <dl>
        <dt>




          <a href="#accordion1" aria-expanded="false" aria-controls="accordion1" class="accordion-title accordionTitle js-accordionTrigger">Paso 1: Direccion de envio</a>
        </dt>
        <dd class="accordion-content accordionItem is-collapsed" id="accordion1" aria-hidden="true">
          <br>
          <div class="container-fluid row" ng-show="1===1">     <!-- ng-show mostrar de entrada -->
            <div class="col-md-6">
              <div class="form-group">
                <label for="gender">Elegi una direccion ya existente: <span class="requerido"></span></label>
                <select class="form-control" id="gender" ng-model=""> <!--ng-model tomar datos de aca -->
                  <option value="M">Direccion1</option>
                  <option value="F">Direccion2</option>
                </select>

              </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-4">
              <label for="gender">O agrega una nueva: <span class="requerido"></span></label>
              <br>
              <button type="button" class="btn btn-success">
                Crear nueva direccion
              </button>
            </div>
          </div>





            <!-- copie y pegue el form de userpage. Capaz no anda bien con el controller -->

          <div class="container-fluid row">
            <div class="col-md-3"></div>
            <div class="add-address-form col-md-9" ng-show="1===1">     <!-- se muestra cuando se selecciono nueva direccion -->
              <form role="form">
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Nombre: <span class="requerido">*</span></label>
                      <input autofocus class="form-control add-address-input" ng-model="createAddress.name">
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Calle: <span class="requerido">*</span></label>
                      <input class="form-control add-address-input" ng-model="createAddress.street">
                    </div>
                  </div>
                </div>


                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Número: <span class="requerido">*</span></label>
                      <input class="form-control add-address-input" ng-model="createAddress.number">
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group">
                      <label>Piso:</label>
                      <input class="form-control add-address-input add-address-input-sm" ng-model="createAddress.floor">
                    </div>
                  </div>
                  <div class="col-md-1">
                    <div class="form-group">
                      <label>Depto.:</label>
                      <input class="form-control add-address-input add-address-input-sm" ng-model="createAddress.gate">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Provincia <span class="requerido">*</span></label>
                      <select class="form-control add-address-input" ng-model="createAddress.province">
                        <option ng-repeat="i in creatingAddress.states" ng-value="i.stateId">{{i.name}}</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Ciudad:</label>
                      <input class="form-control add-address-input" ng-model="createAddress.city">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Código Postal: <span class="requerido">*</span></label>
                      <input class="form-control add-address-input" ng-model="createAddress.zipCode">
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Teléfono: <span class="requerido">*</span></label>
                      <input class="form-control add-address-input" ng-model="createAddress.phoneNumber">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-2">
                  </div>
                  <div class="col-md-6">
                    <div class="add-address-form-buttons">
                      <button type="button" class="btn btn-primary" ng-click="closeAddAddressForm()">Cancelar</button>
                      <button type="button" class="btn btn-primary" ng-click="applicateAddAddress()">Aceptar</button>

                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <br>
          <br>
        </dd>
        <dt>







          <a href="#accordion2" aria-expanded="false" aria-controls="accordion2" class="accordion-title accordionTitle js-accordionTrigger">Paso 2: Forma de Pago</a>
        </dt>
        <dd class="accordion-content accordionItem is-collapsed" id="accordion2" aria-hidden="true">
          <br>
          <div class="container-fluid row" ng-show="1===1"> <!-- ng-show mostrar de entrada -->
            <div class="col-md-3"></div>
            <div class="col-md-6">
              <label for="gender">Elegi tu forma de pago: <span class="requerido"></span></label>
              <select class="form-control" id="gender" ng-model="">    <!--ng-model tomar datos de aca -->
                <option value="efectivo">Efectivo</option>
                <option value="tarjeta">Tarjeta de credito/debito</option>
              </select>
            </div>
            <div class="col-md-3"></div>
          </div>





          <div class="container-fluid row" ng-show="1===1"> <!-- ng-show mostrar si antes eligio tarjeta -->
            <div class="col-md-6">
              <div class="form-group">
                <label for="gender">Elegi una tarjeta ya existente: <span class="requerido"></span></label>
                <select class="form-control" id="gender" ng-model=""> <!--ng-model tomar datos de aca -->
                  <option value="">Tarjeta1</option>
                  <option value="">Tarjeta2</option>
                </select>

              </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-4">
              <label for="gender">O agrega una nueva: <span class="requerido"></span></label>
              <br>
              <button type="button" class="btn btn-success">
                Crear nueva tarjeta
              </button>
            </div>
          </div>
          <br>
          <br>
        </dd>
        <dt>










          <a href="#accordion3" aria-expanded="false" aria-controls="accordion3" class="accordion-title accordionTitle js-accordionTrigger">Paso 3: Volve a revisar los datos ingresados
          </a>
        </dt>
        <dd class="accordion-content accordionItem is-collapsed" id="accordion3" aria-hidden="true">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eu interdum diam. Donec interdum porttitor risus non bibendum. Maecenas sollicitudin eros in quam imperdiet placerat. Cras justo purus, rhoncus nec lobortis ut, iaculis vel ipsum.
            Donec dignissim arcu nec elit faucibus condimentum. Donec facilisis consectetur enim sit amet varius. Pellentesque justo dui, sodales quis luctus a, iaculis eget mauris. </p>
            <p>Aliquam dapibus, ante quis fringilla feugiat, mauris risus condimentum massa, at elementum libero quam ac ligula. Pellentesque at rhoncus dolor. Duis porttitor nibh ut lobortis aliquam. Nullam eu dolor venenatis mauris placerat tristique eget
              id dolor. Quisque blandit adipiscing erat vitae dapibus. Nulla aliquam magna nec elementum tincidunt.</p>
            </dd>
          </dl>
        </div></div>







        <br>
        <br>
        <br>
        <br>
        <br>

        <div ng-app="">
          <div ng-include="'footer.html'"></div> <!-- Import's footer -->
        </div>

        <br>
        <br>
      </div>
    </body>

    <script src="../js/checkout.js"></script>

    </html>
















