
<hr>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2">
      <h3><b>Empresa</b></h3>
      <a href="nosotros.html">Nosotros</a>
      <p><a href="contacto.html">Contacto</a></p>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-2">
      <h3><b>Ayuda</b></h3>
      <a href="atencion_al_cliente.html">Atención al cliente</a>
      <p><a href="asistencia_online.html">Asistencia online</a></p>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-1">
      <h3><b>Social</b></h3>
      <a href="https://www.facebook.com" target="_blank">Facebook</a>
      <a href="https://www.twitter.com" target="_blank">Twitter</a>
    </div>
  </div>
</div>
