<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="../js/header.js"></script>
-->

<!--Upper part-->
<div id="Header" ng-controller="headerController">
	<div id="Upper zone">
		<div class="container-fluid">

			<div class ="row-fluid">

				<div class="col-md-3" id='logo'>
					<a href="./home.html">
						<img id="logoImg" src="../../assets/logo2.jpg" alt="Best Clothes"/>
					</a>
				</div>

				<!-- ver que poner para que baje todo un poco -->
				<div class="col-md-8">
					<div class="row">
						<div id="custom-search-input">
							<div id="search-bar" class="input-group col-md-8">
								<input type="text" class="form-control input-lg" placeholder="Buscar..." ng-model="search_string" ng-enter="makeSearch()"/>
     							<span class="input-group-btn hover-part">
     								<a ng-href="{{getSearchLink()}}">
	            						<button class="btn btn-info btn-lg search-button" type="button">
											<i class="glyphicon glyphicon-search"></i>
										</button>
									</a>
      							</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">

					<!-- Dropdown de hombres-->
					<li class="dropdown">
						<a href="categories.html?id=1" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">HOMBRES <span class="caret"></span></a>
						<ul class="dropdown-menu multi-column columns-2">
							<div class="row">
								<div class="col-sm-6">
									<ul class="multi-column-dropdown">
										<li><a ng-href="{{ getNewsLink(1) }}">Novedades</a></li>
										<li><a ng-href="{{ getSaleLink(1) }}" id="sale_btn">Ofertas!</a></li>
										<br>
										<li ng-repeat="i in (categories | filter:{id:'1'})[0].categories">
											<a ng-href="{{ getCategoriesLink(1,i.id) }}">{{i.name}}</a>
										</li>
									</ul>
								</div>
								<div class="col-sm-6">
									<ul class="multi-column-dropdown">
										<li class="dropdown-header">Marcas</li>
										<li ng-repeat="i in (brands | filter:{id:'1'})[0].brands[0].values |limitTo:6">
											<a ng-href="{{ getBrandLink(1,i) }}">{{i}}</a>
										</li>
										<li class="see-more-brands">Ver más</li>
									</ul>
								</div>
							</div>
						</ul>
					</li>


					<!-- Dropdown de Mujeres-->
					<li class="dropdown">
						<a href="categories.html?id=2" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">MUJERES <span class="caret"></span></a>
						<ul class="dropdown-menu multi-column columns-2">
							<div class="row">
								<div class="col-sm-6">
									<ul class="multi-column-dropdown">
										<li><a ng-href="{{ getNewsLink(2) }}">Novedades</a></li>
										<li><a ng-href="{{ getSaleLink(2) }}">Ofertas!</a></li>
										<br>
										<li ng-repeat="i in (categories | filter:{id:'2'})[0].categories">
											<a ng-href="{{ getCategoriesLink(2,i.id) }}">{{i.name}}</a>
										</li>
									</ul>
								</div>
								<div class="col-sm-6">
									<ul class="multi-column-dropdown">
										<li class="dropdown-header">Marcas</li>
										<li ng-repeat="i in (brands | filter:{id:'2'})[0].brands[0].values |limitTo:6">
											<a ng-href="{{ getBrandLink(2,i) }}">{{i}}</a>
										</li>
										<li class="see-more-brands">Ver más</li>
									</ul>
								</div>
							</div>
						</ul>
					</li>


					<!-- Dropdown de infantiles-->
					<li class="dropdown">
						<a href="categories.html?id=3" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">INFANTILES <span class="caret"></span></a>
						<ul class="dropdown-menu multi-column columns-2">
							<div class="row">
								<div class="col-sm-6">
									<ul class="multi-column-dropdown">
										<li><a ng-href="{{ getNewsLink(3) }}">Novedades</a></li>
										<li><a ng-href="{{ getSaleLink(3) }}" id="sale_btn">Ofertas!</a></li>
										<br>
										<li ng-repeat="i in (categories | filter:{id:'3'})[0].categories">
											<a ng-href="{{ getCategoriesLink(3,i.id) }}">{{i.name}}</a>
										</li>
									</ul>
								</div>
								<div class="col-sm-6">
									<ul class="multi-column-dropdown">
										<li class="dropdown-header">Marcas</li>
										<li ng-repeat="i in (brands | filter:{id:'3'})[0].brands[0].values |limitTo:6">
											<a ng-href="{{ getBrandLink(3,i) }}">{{i}}</a>
										</li>
										<li class="see-more-brands">
											<a href="#">Ver más</a>
										</li>
									</ul>
								</div>
							</div>
						</ul>
					</li>

					<!-- Dropdown de bebes-->
					<li class="dropdown">
						<a href="categories.html?id=4" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">BEBES <span class="caret"></span></a>
						<ul class="dropdown-menu multi-column columns-2">
							<div class="row">
								<div class="col-sm-6">
									<ul class="multi-column-dropdown">
										<li><a ng-href="{{ getNewsLink(4) }}">Novedades</a></li>
										<li><a ng-href="{{ getSaleLink(4) }}" id="sale_btn">Ofertas!</a></li>
										<br>
										<li ng-repeat="i in (categories | filter:{id:'4'})[0].categories">
											<a ng-href="{{ getCategoriesLink(4,i.id) }}">{{i.name}}</a>
										</li>
									</ul>
								</div>
								<div class="col-sm-6">
									<ul class="multi-column-dropdown">
										<li class="dropdown-header">Marcas</li>
										<li ng-repeat="i in (brands | filter:{id:'4'})[0].brands[0].values |limitTo:6">
											<a ng-href="{{ getBrandLink(4,i) }}">{{i}}</a>
										</li>
										<li class="see-more-brands">
											<a href="#">Ver más</a>
										</li>
									</ul>
								</div>
							</div>
						</ul>
					</li>


				</ul>

				<ul class="nav navbar-nav navbar-right">

					<!-- Carrito -->
					<li class="dropdown">
						<a href="userPage.html?id=carrito" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">
							<i class="glyphicon glyphicon-shopping-cart"></i>
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#">Separated link</a></li>
						</ul>
					</li>

					<!-- Favoritos -->
					<li class="dropdown">
						<a href="userPage.html?id=favoritos" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">
							<i class="glyphicon glyphicon-heart"></i>
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#">Separated link</a></li>
						</ul>
					</li>



					<li class="dropdown" ng-init="model = parentScope">
						<a href="userPage.html?id=usuario" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">
							{{ userMessage() }}
							<i class="glyphicon glyphicon-user"/>
							<span class="caret"></span>
						</a>
						<ul ng-if="!userLogged()" class="dropdown-menu" id="login-form">

							<div class="container-fluid">
								<div class="form-group">
									<label>Usuario</label>
									<input type="text" class="form-control input-lg" placeholder="Usuario" ng-model="model.user_model"/>
								</div>
								<div class="form-group">
									<label>Contraseña</label>
									<input type="password" class="form-control input-lg" placeholder="Contraseña" ng-model="model.password_model" ng-enter="login()"/>
								</div>
								<div>
									<a href='' data-toggle="modal" data-target="#myModal">Crear cuenta nueva</a>
								</div>
								<div>
									<a href="#">Olvidé mi contraseña</a>
								</div>
								<button type="submit" class="btn btn-default" ng-click="login()">Ingresar</button>
							</div>
						</ul>
						<ul ng-if="userLogged()" class="dropdown-menu" id='user-logged-dropdown'>
							<li><a id="bye-bye" ng-href="#" ng-click="logout()">Cerrar Sesión</a></li>
						</ul>
					</li>
					<!-- 										  		<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Registrarse</button> -->


				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Ingrese sus datos...</h4>
				</div>
				<div class="modal-body">
					<span class="explicacion" style="color: grey">* campos requeridos</span>

					<div class="container-fluid">
						<div class="form-group">
							<label>Nombre <span class="requerido">*</span></label>
							<input class="form-control" placeholder="Nombre" ng-model="registerFields.name">
						</div>
						<div class="form-group">
							<label>Apellido <span class="requerido">*</span></label>
							<input class="form-control" placeholder="Apellido" ng-model="registerFields.last_name">
						</div>

						<div class="form-group">
							<label>Género <span class="requerido">*</span></label>
							<div class="radio">
								<label><input type="radio" name="gender-selector" value="M" ng-model="registerFields.gender">Masculino</label>
							</div>
							<div class="radio">
							 	<label><input type="radio" name="gender-selector" value="F" ng-model="registerFields.gender">Femenino</label>
							</div>
						</div>

						<div class="form-group">
							<label>Fecha de nacimiento <span class="requerido">*</span></label>
							<input class="form-control" placeholder="Formato AAAA-MM-DD" ng-model="registerFields.birthday">
						</div>

						<div class="form-group">
							<label>Documento <span class="requerido">*</span></label>
							<input class="form-control" placeholder="Documento" ng-model="registerFields.identity_card">
						</div>

						<div class="form-group">
							<label>Usuario <span class="requerido">*</span></label>
							<input type="text" class="form-control" placeholder="Usuario" ng-model="registerFields.username">
						</div>
						<div class="form-group">
							<label>e-Mail <span class="requerido">*</span></label>
							<input type="email" class="form-control" placeholder="e-Mail" ng-model="registerFields.email">
						</div>
						<div class="form-group">
							<label>Contraseña <span class="requerido">*</span></label>
							<input type="password" class="form-control" placeholder="Contraseña" ng-model="registerFields.password">
						</div>
						<div class="form-group">
							<label>Repetir contraseña <span class="requerido">*</span></label>
							<input type="password" class="form-control" placeholder="Repetir contraseña" ng-model="registerFields.repeat">
						</div>
						
						<div class="checkbox">
							<label>
								<input type="checkbox" ng-model="registerFields.terms"/>
							</label>
							Acepto los <a href="" data-toggle="modal" data-target="#terms-and-conditions">Términos y condiciones</a>
						</div>
					</div>





				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" ng-click="register()">Aceptar</button>
				</div>




			</div>
		</div>
	</div>

	<div class="modal fade" id="terms-and-conditions" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title" id="myModalLabel">Terminos y Condiciones</h4>
				</div>
				<div class="modal-body">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->


</div>