<!--Upper part-->
<div id="Header" ng-controller="headerController">
	<div id="Upper zone">
		<div class="container-fluid">

			<div class ="row-fluid">

				<div class="col-md-3" id='logo'>
					<a href="./home.html">
						<img id="logoImg" src="../../assets/logo2.jpg" alt="Best Clothes"/>
					</a>
				</div>

				<!-- ver que poner para que baje todo un poco -->
				<div class="col-md-8">
					<div class="row">
						<div id="custom-search-input">
							<div id="search-bar" class="input-group col-md-8">
								<input type="text" class="form-control input-lg" placeholder="Buscar..." ng-model="search_string" ng-enter="makeSearch()"/>
     							<span class="input-group-btn hover-part">
     								<a href ng-click="makeSearch()">
	            						<button class="btn btn-info btn-lg search-button" type="button">
											<i class="glyphicon glyphicon-search"></i>
										</button>
									</a>
      							</span>
							</div>
							<div class="need-help">
								<span class="need-help-text"><a href="underConstruction.html">¿Necesitas ayudas? Hacé click acá</a></span>
							</div>
						</div>
						
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- Nav bar -->
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">

			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">

					<!-- Dropdown de hombres-->
					<li class="dropdown">
						<a href="categories.html?id=1" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">HOMBRES <span class="caret"></span></a>
						<ul class="dropdown-menu multi-column columns-2">
							<div class="row">
								<div class="col-sm-6">
									<ul class="multi-column-dropdown">
										<li><a ng-href="{{ getNewsLink(1) }}">Novedades</a></li>
										<li><a ng-href="{{ getSaleLink(1) }}" id="sale_btn">Ofertas!</a></li>
										<br>
										<li ng-repeat="i in (categories | filter:{id:'1'})[0].categories">
											<a ng-href="{{ getCategoriesLink(1,i.id) }}">{{i.name}}</a>
										</li>
									</ul>
								</div>
								<div class="col-sm-6">
									<ul class="multi-column-dropdown">
										<li class="dropdown-header">Marcas</li>
										<li ng-repeat="i in (brands | filter:{id:'1'})[0].brands[0].values |limitTo:6">
											<a ng-href="{{ getBrandLink(1,i) }}">{{i}}</a>
										</li>
										<li class="see-more-brands"><a href="underConstruction.html">Ver más</a></li>
									</ul>
								</div>
							</div>
						</ul>
					</li>


					<!-- Dropdown de Mujeres-->
					<li class="dropdown">
						<a href="categories.html?id=2" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">MUJERES <span class="caret"></span></a>
						<ul class="dropdown-menu multi-column columns-2">
							<div class="row">
								<div class="col-sm-6">
									<ul class="multi-column-dropdown">
										<li><a ng-href="{{ getNewsLink(2) }}">Novedades</a></li>
										<li><a ng-href="{{ getSaleLink(2) }}" id="sale_btn">Ofertas!</a></li>
										<br>
										<li ng-repeat="i in (categories | filter:{id:'2'})[0].categories">
											<a ng-href="{{ getCategoriesLink(2,i.id) }}">{{i.name}}</a>
										</li>
									</ul>
								</div>
								<div class="col-sm-6">
									<ul class="multi-column-dropdown">
										<li class="dropdown-header">Marcas</li>
										<li ng-repeat="i in (brands | filter:{id:'2'})[0].brands[0].values |limitTo:6">
											<a ng-href="{{ getBrandLink(2,i) }}">{{i}}</a>
										</li>
										<li class="see-more-brands"><a href="underConstruction.html">Ver más</a></li>
									</ul>
								</div>
							</div>
						</ul>
					</li>


					<!-- Dropdown de infantiles-->
					<li class="dropdown">
						<a href="categories.html?id=3" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">INFANTILES <span class="caret"></span></a>
						<ul class="dropdown-menu multi-column columns-2">
							<div class="row">
								<div class="col-sm-6">
									<ul class="multi-column-dropdown">
										<li><a ng-href="{{ getNewsLink(3) }}">Novedades</a></li>
										<li><a ng-href="{{ getSaleLink(3) }}" id="sale_btn">Ofertas!</a></li>
										<br>
										<li ng-repeat="i in (categories | filter:{id:'3'})[0].categories">
											<a ng-href="{{ getCategoriesLink(3,i.id) }}">{{i.name}}</a>
										</li>
									</ul>
								</div>
								<div class="col-sm-6">
									<ul class="multi-column-dropdown">
										<li class="dropdown-header">Marcas</li>
										<li ng-repeat="i in (brands | filter:{id:'3'})[0].brands[0].values |limitTo:6">
											<a ng-href="{{ getBrandLink(3,i) }}">{{i}}</a>
										</li>
										<li class="see-more-brands"><a href="underConstruction.html">Ver más</a></li>
									</ul>
								</div>
							</div>
						</ul>
					</li>

					<!-- Dropdown de bebes-->
					<li class="dropdown">
						<a href="categories.html?id=4" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">BEBES <span class="caret"></span></a>
						<ul class="dropdown-menu multi-column columns-2">
							<div class="row">
								<div class="col-sm-6">
									<ul class="multi-column-dropdown">
										<li><a ng-href="{{ getNewsLink(4) }}">Novedades</a></li>
										<li><a ng-href="{{ getSaleLink(4) }}" id="sale_btn">Ofertas!</a></li>
										<br>
										<li ng-repeat="i in (categories | filter:{id:'4'})[0].categories">
											<a ng-href="{{ getCategoriesLink(4,i.id) }}">{{i.name}}</a>
										</li>
									</ul>
								</div>
								<div class="col-sm-6">
									<ul class="multi-column-dropdown">
										<li class="dropdown-header">Marcas</li>
										<li ng-repeat="i in (brands | filter:{id:'4'})[0].brands[0].values |limitTo:6">
											<a ng-href="{{ getBrandLink(4,i) }}">{{i}}</a>
										</li>
										<li class="see-more-brands"><a href="underConstruction.html">Ver más</a></li>
									</ul>
								</div>
							</div>
						</ul>
					</li>


				</ul>

				<ul class="nav navbar-nav navbar-right">

					<!-- Carrito -->
					<li class="dropdown">
						<a ng-if="!userLogged()" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false" title="Debe ingresar al sistema para acceder a la página del carrito">
							<i class="glyphicon glyphicon-shopping-cart"></i>
							<span class="caret"></span>
						</a>
						<a ng-if="userLogged()" href="userPage.html?id=carrito" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">
							<i class="glyphicon glyphicon-shopping-cart"></i>
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu multi-column columns-2 cart-drop-down" ng-if="userLogged()">
							<div class="row header-cart-title">
								<div class="col-sm-6">
									<ul class="multi-column-dropdown">
										<li>
											Producto
										</li>
									</ul>
								</div>
								<div class="col-sm-6">
									<ul class="multi-column-dropdown">
										<li>
											Precio
										</li>
									</ul>
								</div>
							</div>
							<div class="row" ng-repeat="i in header_cart.items">
								<div class="col-sm-6">
									<ul class="multi-column-dropdown">
										<li class="header-cart-line">
											<a ng-href="product.html?product_id={{i.product.id}}">
												<img ng-src={{i.product.imageUrl}} class="header-cart-image"/>
												<p>{{i.product.name}}</p>
											</a>
										</li>
									</ul>
								</div>
								<div class="col-sm-6">
									<ul class="multi-column-dropdown">
										<li class="header-cart-line">
											<p class="header-cart-line-quantity">{{i.quantity}} x ${{i.price}}</p>
											<p class="header-cart-line-price">${{i.quantity * i.price}}</p>
										</li>
									</ul>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<ul class="multi-column-dropdown">
									</ul>
								</div>
								<div class="col-sm-6">
									<ul class="multi-column-dropdown">
										<button type="button" class="btn btn-success" ng-disabled="cart.items.length == 0">
											Finalizar compra
										</button> 
									</ul>
								</div>

							</div>

						</ul>
					</li>

					<!-- Favoritos -->
					<li class="dropdown">
						<a ng-if="userLogged()" href="userPage.html?id=favoritos" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">
							<i class="glyphicon glyphicon-heart"></i>
							<span class="caret"></span>
						</a>
						<a ng-if="!userLogged()" href="" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false" title="Debe ingresar al sistema para acceder a la página de favoritos">
							<i class="glyphicon glyphicon-heart"></i>
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu" ng-if="userLogged()">
							<li><a href=""></a></li>
							<li><a href=""></a></li>
							<li><a href="#">NO DISPONIBLE</a></li>
							<li><a href=""></a></li>
							<li><a href=""></a></li>
						</ul>
					</li>


					<!-- Usuario -->
					<li class="dropdown" ng-init="model = parentScope">
						<a href ng-click="userOption()" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">
							{{ userMessage() }}
							<i class="glyphicon glyphicon-user"/>
							<span class="caret"></span>
						</a>
						<ul ng-if="!userLogged()" class="dropdown-menu" id="login-form">

							<div class="container-fluid">
								<div class="form-group">
									<label>Usuario</label>
									<input type="text" class="form-control input-lg" placeholder="Usuario" ng-model="model.user_model" tabindex="1"/>
								</div>
								<div class="form-group">
									<label>Contraseña</label>
									<input type="password" class="form-control input-lg" placeholder="Contraseña" ng-model="model.password_model" ng-enter="login()" tabindex="2"/>
								</div>
								<div>
									<a href="register.html" tabindex="3">Crear cuenta nueva</a>
								</div>
								<div>
									<a href="underConstruction.html" tabindex="4">Olvidé mi contraseña</a>
								</div>
								<button type="submit" class="btn btn-default" ng-click="login()" tabindex="5">Ingresar</button>
							</div>
						</ul>
						<ul ng-if="userLogged()" class="dropdown-menu" id='user-logged-dropdown'>
							<li><a id="bye-bye" href ng-click="logout()">Cerrar Sesión</a></li>
						</ul>
					</li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>

	<!-- Login error modal -->
	<div modal-show modal-visible="show_login_error" class="modal fade" id="login-error-modal" tabindex="-1" role="dialog" aria-labelledby="login-error-modal-Label">
	  	<div class="modal-dialog" role="document">
	    	<div class="modal-content">
	      		<div class="modal-header">
	        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        		<h4 class="modal-title" id="myModalLabel">Error...</h4>
	      		</div>
		      	<div class="modal-body">
			        <p>Los datos ingresados son incorrectos</p>
			        <a href="underConstruction.html">Recuperar contraseña</a>
		      	</div>
		      	<div class="modal-footer">
		        	<button type="button" class="btn btn-default" data-dismiss="modal">Aceptar</button>
		      	</div>
	    	</div>
	  	</div>
	</div>



	


	


</div>