<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Product</title>
    

    <!-- Bootstrap stuff -->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">


    <!-- My stylesheets -->
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/header.css">
    <link rel="stylesheet" type="text/css" href="../css/product.css">
    <link rel="stylesheet" type="text/css" href="../css/productThumbnail.css">

    <!-- Angular stuff -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>

    <!-- My Code -->
    <script src="../js/list_of_products.js"></script>
    <script src="../../controller/productCtrl.js"></script>
    <script src="../../controller/cartCtrl.js"></script>
    <script src="../../controller/headerCtrl.js"></script>
    <script src="../../controller/thumbnailCtrl.js"></script>

    <script src="../js/product.js"></script>

</head>


<body>


    <div> 
      <div ng-include="'header.html'"></div> <!-- Import's header -->
  </div>

        <div = ng-controller="productController">
            <ol class="breadcrumb">
                <li><a href="home.html">Home</a></li>
                <li ng-if="hasGenderSpecified()"><a ng-href="{{getLinkForGenderBreadcrumb()}}">{{getGenderNameForBreadcrumb()}}</a></li>
                <li><a ng-href="{{link_for_category}}">{{product.category.name}}</a></li>
                <li><a ng-href="{{link_for_sub_category}}">{{product.subcategory.name}}</a></li>
                <li class="active">{{product.name}}</li>
            </ol>


            <!-- Body Page -->
            <div class="container-fluid myContainerFLuid">
                <div class="content-wrapper myContentWrapper"> 
                    <div class="item-container">  
                        <div class="container myContainer"> 
                            <div class="row central-part">
                                
                                <!--pictures-->
                                <div class="col-md-8">
                                    <div class="product col-md-6 service-image-left">
                                        <img id="item-display" src={{product.imageUrl[0]}} alt={{product.name}}></img>
                                    </div>

                                    <div class="myContainer service-items col-sm-2 col-md-2 pull-left">
                                        <div ng-repeat="i in product.imageUrl"> 
                                            <a class="service1-item">
                                                <img src="{{i}}" alt=""></img>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <!--side part-->
                                <div class="col-md-4">

                                    <!-- Name and Rating -->
                                    <div class="name-and-rating">
                                        <div class=" row product-title" ng-init="brand=product.attributes | filter:{id:'9'}">
                                            {{product.name }}
                                        </div>
                                        <div class="product-rating row">
                                            <i class="fa fa-star gold glyphicon glyphicon-star"></i>
                                            <i class="fa fa-star gold glyphicon glyphicon-star"></i>
                                            <i class="fa fa-star gold glyphicon glyphicon-star"></i>
                                            <i class="fa fa-star gold glyphicon glyphicon-star"></i>
                                            <i class="fa fa-star-o glyphicon glyphicon-star"></i>
                                        </div>
                                    </div>
                                    
                                    <!-- Price and stock -->
                                    <div class="price-and-stock">
                                        <div class="product-price">{{'$' + product.price}}</div>
                                        <div class="product-stock">Disponible!</div>
                                    </div>

                                    <!-- Size, color, quantity and buttons -->
                                    <div class="row size-color-quantity-and-buttons">

                                        <!-- Options -->
                                        <div class="col-md-6 buying-options">

                                            <!--Size menu-->
                                            <div class="row size-menu">
                                                <label for="sizes">Talle</label>
                                                <select class="form-control buying-controls" id="sizes">
                                                    <option ng-repeat="i in (product.attributes | filter: {name:'Talle'})[0].values">
                                                        {{i}}
                                                    </option>
                                                </select>
                                            </div>

                                            <!-- Color menu -->
                                            <div class="row color-menu">
                                                <label for="colors">Color</label>
                                                <select class="form-control buying-controls" id="colors">
                                                    <option ng-repeat="i in (product.attributes | filter: {id:'4'})[0].values">
                                                        {{i}}
                                                    </option>
                                                </select>
                                            </div>


                                            <!-- Cantidad menu -->
                                            <div class="row color-menu">
                                                <label for="quantity">Cantidad</label>
                                                <input class="buying-controls" id="quantity" type="number" min="1" value="1"/>
                                                    
                                            </div>

                                        </div>

                                        <!-- Buttons -->
                                        <div class="col-md-6 wishlist-and-cart-buttons">
                                            <div class="row">
                                                <button type="button" class="btn btn-success">
                                                    Añadir al <i class="glyphicon glyphicon-shopping-cart"></i>
                                                </button>
                                            </div>
                                            <div class="row">
                                                <button type="button" class="btn btn-warning">
                                                    Añadir a <i class="glyphicon glyphicon-heart"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>

            <div class="container-fluid">
                <div class="col-md-12 details-and-similars">
                    <div class="col-md-4 details-col">
                        <h5>DETALLES DEL PRODUCTO</h5>
                        <ul>
                            <li ng-repeat="i in product.attributes |orderBy:-'id'">
                                {{i.name}}:
                                <span ng-repeat="j in i.values"> {{j}} </span>
                            </li>
                        </ul> 
                    </div>
                    <div class="col-md-8 similar-col">
                        <h5>PRODUCTOS SIMILARES</h5>
                        <div ng-repeat="prod in similars">
                            <div class="col-md-4">
                                <div ng-include="'productThumbnail.html'"></div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>



            <br>
        </div>
    </div>
    <br>
</div>

<br>
        <br>
        <br>
        <div ng-app=""> 
            <div ng-include="'footer.html'"></div> <!-- Import's footer -->
        </div>


</body>
</html>