<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Carrito, favoritos y Usuario</title>

	<!-- Bootstrap stuff -->
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">



	<!-- My stylesheets -->
	<link rel="stylesheet" type="text/css" href="../css/common.css">
	<link rel="stylesheet" type="text/css" href="../css/header.css">
	<link rel="stylesheet" type="text/css" href="../css/user-page.css">



	<!-- Angular stuff -->
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>

	<!-- My code -->

	<script src="../../controller/headerCtrl.js"></script>
	<script src="../../controller/userPageCtrl.js"></script>
	<script src="../js/user-page.js"></script>



</head>


<body ng-controller="userPageController">

	<div class="se-pre-con" id="loading_page" ng-show="loading_page"></div>

	<div> 
		<div ng-include="'header.html'"></div> <!-- Import's header -->
	</div>

	<ol class="breadcrumb">
		<li><a href="home.html">Home</a></li>
		<li class="active">{{breadcrumbMessage}}</li>
	</ol>

	<!-- Body Page -->

	<div class="container-fluid">

		<div class="col-md-2">

		</div>

		<div class="col-md-8">
			<div class="container-fluid">
				<!-- Aca empiezan las tabs-->
				<ul class="nav nav-tabs">
					<li class="active"><a href="#Carrito"data-toggle="tab" ng-click="tabChange('carrito')"> <i class="glyphicon glyphicon-shopping-cart"></i> Carrito</a></li>
					<li><a href="#Favoritos" data-toggle="tab" ng-click="tabChange('favoritos')"><i class="glyphicon glyphicon-heart"></i> Favoritos</a></li>
					<li id="cuenta-tab" ng-show="userLogged()"><a href="#Cuenta"data-toggle="tab" ng-click="tabChange('usuario')"><i class="glyphicon glyphicon-user"></i> Cuenta</a></li>
				</ul>
				
				
				<div class="tab-content">
					<div class="tab-pane fade active in generalTabPane" id="Carrito">

						<div>

							<div class="contaiiner-fluid">
								<div class="row">

									<div class ="col-md-2">

									</div>

									<div class ="col-md-2">
										<p>Producto</p>
									</div> 
									<div class="col-md-2">
										<p>Colores</p>
									</div>
									<div class="col-md-1">
										<p>Talle</p>
									</div>
									<div class="col-md-2">
										<p>Cantidad</p>
									</div>
									<div class="col-md-2">
										<p>Precio</p>
									</div>

								</div>
								<br>
								<br>
								<div class="row">

									<div class ="col-md-2">
										<img src="../../assets/clothes/t-shirts/dc_brickline_black_1.jpg" class="cart-image"/>
									</div>

									<div class ="col-md-2">
										<p>DC - Brickline</p>
										<br>
										<div class="btn-group cart">

											<div class="row" id="my-cart-buttons">
												<button type="button" class="btn btn-warning">
													<i class="glyphicon glyphicon-heart"></i>
												</button>

												<button type="button" class="btn btn-danger">
													<i class="glyphicon glyphicon-remove"></i>
												</button>
											</div>

										</div>
									</div> 
									<div class="col-md-2">
										<img src="../../assets/clothes/t-shirts/dc_brickline_black_1.jpg" class="cart-image-colors"/>
										<img src="../../assets/clothes/t-shirts/dc_brickline_white_1.jpg" class="cart-image-colors"/>
									</div>
									<div class="col-md-1">      
										<div class="btn-group">
											<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
												Talle
												<span class="caret"></span>
											</button>
											<ul class="dropdown-menu">
												<li><a href="#">S</a></li>
												<li><a href="#">M</a></li>
												<li><a href="#">L</a></li>
											</ul>
										</div>
									</div>
									<div class="col-md-2">


										<input type="number" name="display_name" id="display_name" class="form-control input-lg" placeholder="2" tabindex="5">


									</div>
									<div class="col-md-2">
										<p> 2 x $99.99
											<h3>$199.98</h3>
										</div>

									</div>

								</div>
								<hr>
								<div class="row">
									<div class="col-md-6"></div>
									<div class="col-md-2" id="sub-total"><h4>Sub-Total:<h4></div>
									<div class="col-md-1">
										<h3><strong>$199.98</strong></h3>
									</div>
									<div class="col-md-1" id="button-checkout">
										<button type="button" class="btn btn-success">
											Finalizar compra
										</button> 
									</div>
								</div>

							</div>

						</div>	

						<div class="tab-pane fade generalTabPane" id="Favoritos">


							<div>

								<div class="contaiiner-fluid">
									<div class="row">

										<div class ="col-md-2">

										</div>

										<div class ="col-md-2">
											<p>Producto</p>
										</div> 
										<div class="col-md-3">
											<p>Colores</p>
										</div>
										<div class="col-md-3">
											<p>Talle</p>
										</div>
										<div class="col-md-2">
											<p>Precio</p>
										</div>

									</div>
									<br>
									<br>
									<div class="row">

										<div class ="col-md-2">
											<img src="../../assets/clothes/t-shirts/dc_brickline_black_1.jpg" class="cart-image"/>
										</div>

										<div class ="col-md-2">
											<p>DC - Brickline</p>
											<br>
											<div class="btn-group cart">

												<div class="row" id="my-cart-buttons">
													<button type="button" class="btn btn-success">
														<i class="glyphicon glyphicon-shopping-cart"></i>
													</button>

													<button type="button" class="btn btn-danger">
														<i class="glyphicon glyphicon-remove"></i>
													</button>
												</div>

											</div>
										</div> 
										<div class="col-md-3">
											<img src="../../assets/clothes/t-shirts/dc_brickline_black_1.jpg" class="cart-image-colors"/>
											<img src="../../assets/clothes/t-shirts/dc_brickline_white_1.jpg" class="cart-image-colors"/>
										</div>
										<div class="col-md-3">      
											<h4>M</h4>
										</div>

										<div class="col-md-2">
											<h3>$199.98</h3>
										</div>

									</div>


								</div>


							</div>




						</div>
						<div class="tab-pane fade generalTabPane" id="Cuenta" ng-show="userLogged()">
							<div class="container-fluid">
								<ul class="nav nav-pills myPills">
									<li role="presentation" class="active"><a href="#Personales" data-toggle="pill">Datos Personales</a></li>
									<li role="presentation"><a href="#InfoCuenta" data-toggle="pill">Información de cuenta</a></li>
									<li role="presentation"><a href="#Direcciones" data-toggle="pill">Direcciones</a></li>
									<li role="presentation"><a href="#Tarjetas" data-toggle="pill">Tarjetas</a></li>
									<li role="presentation"><a href="#Compras" data-toggle="pill">Compras</a></li>
								</ul>
								<div class="tab-content">
							    	<div class="tab-pane fade active in" id="Personales">
							        		
							        		<!-- nombre -->
							        		<div class ="user-field">
							        			<div ng-show="!showEditName">
								        			<span class="user-field-name">Nombre: </span>
								        			{{toTitleCase(account.firstName)}}
								        			<a href ng-click="editName()">
									        			<span class="edit-field">
									        				<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Editar
									        			</span>
									        		</a>
								        		</div>
								        		<div class="edit-form" ng-show="showEditName">
							        				<form role="form">
							        					<div class="form-group">
							        						<label>Nombre:</label>
							        						<input class="form-control edit-form-input" ng-model="update.name">
							        					</div>
							        					<button type="button" class="btn btn-primary" ng-click="finishEditName()">Cancelar</button>
							        					<button type="button" class="btn btn-primary" ng-click="applicateEdit()">Aceptar</button>
							        				</form>
							        			</div>

							        		</div>

							        		<!-- apellido -->
          									<div class ="user-field">
          										<div ng-show="!showEditLastName">
	          										<span class="user-field-name">Apellido:</span>
	          										{{ toTitleCase(account.lastName) }}
	          										<a href ng-click="editLastName()">
		          										<span class="edit-field">
									        				<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Editar
									        			</span>
									        		</a>
									        	</div>
							        			<div class="edit-form" ng-show="showEditLastName">
							        				<form role="form">
							        					<div class="form-group">
							        						<label>Apellido: </label>
							        						<input class="form-control edit-form-input" ng-model="update.lastName">
							        					</div>
							        					<button type="button" class="btn btn-primary" ng-click="finishEditLastName()">Cancelar</button>
							        					<button type="button" class="btn btn-primary" ng-click="applicateEdit()">Aceptar</button>
							        				</form>
							        			</div>


          									</div>

          									<!-- Nacimiento -->
									        <div class ="user-field">
									        	<div ng-show="!showEditBirthday">
										        	<span class="user-field-name">Fecha de nacimiento: </span>
										        	{{account.birthDate}}
										        	<a href ng-click="editBirthday()">
											        	<span class="edit-field">
									        				<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Editar
									        			</span>
									        		</a>
								        		</div>
								        		<div class="edit-form" ng-show="showEditBirthday">
									        		<form role="form">
							        					<div class="form-group">
							        						<label>Fecha de nacimiento: </label>
							        						<input class="form-control edit-form-input" ng-model="update.birthDate">
							        					</div>
							        					<button type="button" class="btn btn-primary" ng-click="finishEditBirthday()">Cancelar</button>
							        					<button type="button" class="btn btn-primary" ng-click="applicateEdit()">Aceptar</button>
							        				</form>
							        			</div>
									        </div>

									        <!-- Genero -->
									        <div class ="user-field">
									        	<div ng-show="!showEditGender">
										        	<span class="user-field-name">Sexo: </span>
										        	{{ (account.gender =='M') ? "Masculino" : "Femenino"  }}
										        	<a href ng-click="editGender()">
											        	<span class="edit-field">
									        				<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Editar
									        			</span>
									        		</a>
								        		</div>
								        		<div class="edit-form" ng-show="showEditGender">
									        		<form role="form">
							        					<div class="form-group">
							        						<label>Género</label>
															<select class="form-control edit-form-input" ng-model="update.gender">
							                                	<option value="M">Masculino</option>
							                                	<option value="F">Femenino</option>
							                                </select>
							                            </div>
							                            <button type="button" class="btn btn-primary" ng-click="finishEditGender()">Cancelar</button>
							        					<button type="button" class="btn btn-primary" ng-click="applicateEdit()">Aceptar</button>
							        				</form>
							        			</div>
									        </div>

									        <div class ="user-field">
									        	<div ng-show="!showEditIdCard">
										        	<span class="user-field-name">Documento: </span>
										        	{{ account.identityCard }}
										        	<a href ng-click="editIdCard()">
											        	<span class="edit-field">
									        				<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Editar
									        			</span>
									        		</a>
								        		</div>
								        		<div class="edit-form" ng-show="showEditIdCard">
									        		<form role="form">
							        					<div class="form-group">
							        						<label>Documento: </label>
							        						<input type="text" class="form-control edit-form-input" ng-model="update.idCard">
							        					</div>
							        					<button type="button" class="btn btn-primary" ng-click="finishEditIdCard()">Cancelar</button>
							        					<button type="button" class="btn btn-primary" ng-click="applicateEdit()">Aceptar</button>
							        				</form>
							        			</div>

									        </div>
							        



							        </div>
							        <div class="tab-pane fade" id="InfoCuenta">

							        	<!-- User (can't change) -->
							    		<div class ="user-field">
						        			<span class="user-field-name">Usuario: </span>
						        			{{account.username}}
							        	</div>

							        	<!-- e-Mail -->
							        	<div class ="user-field">
							        		<div ng-show="!showEditMail">
							        			<span class="user-field-name">e-Mail: </span>
							        			{{account.email}}
							        			<a href ng-click="editMail()">  
								        			<span class="edit-field">
								        				<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Editar
								        			</span>
								        		</a>
							        		</div>
							        		<div class="edit-form" ng-show="showEditMail">
								        		<form role="form">
						        					<div class="form-group">
						        						<label>e-Mail: </label>
						        						<input type="email" class="form-control edit-form-input" ng-model="update.email">
						        					</div>
						        					<button type="button" class="btn btn-primary" ng-click="finishEditMail()">Cancelar</button>
						        					<button type="button" class="btn btn-primary" ng-click="applicateEdit()">Aceptar</button>
						        				</form>
						        			</div>
						        		</div>

						        		<!-- Contraseña -->
						        		<div class ="user-field">
						        			<div ng-show="!showEditPassword">
							        			<span class="user-field-name">Contraseña: </span>
							        			{{passwordFake}}
							        			<a href ng-click="editPassword()">   
								        			<span class="edit-field">
								        				<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Editar
								        			</span>
								        		</a>
							        		</div>
							        		<div class="edit-form" ng-show="showEditPassword">
								        		<form role="form">
						        					<div class="form-group">
						        						<label>Contraseña actual: </label>
						        						<input type="password" class="form-control edit-form-input" ng-model="update.passwordOld" placeholder="Ingrese su contraseña actual...">
						        					</div>
						        					<div class="form-group">
						        						<label>Contraseña nueva: </label>
						        						<input type="password" class="form-control edit-form-input" ng-model="update.passwordNew"placeholder="Ingrese la contraseña nueva...">
						        					</div>
						        					<div class="form-group">
						        						<label>Repetir contraseña: </label>
						        						<input type="password" class="form-control edit-form-input" ng-model="update.passwordRepeat" placeholder="Repita la contraseña...">
						        					</div>
						        					<button type="button" class="btn btn-primary" ng-click="finishEditPassword()">Cancelar</button>
						        					<button type="button" class="btn btn-primary" ng-click="applicateEditPassword()">Aceptar</button>
						        				</form>
						        			</div>

						        		</div>

							        </div>
							        <div class="tab-pane fade" id="Direcciones">
						        		


							        	<div class="addresses" ng-repeat="i in allAddresses | orderBy: 'name'" ng-show="i.deleted == 'F'">
							        		<p class="address-name"> {{i.name}}
							        			<a href ng-click="editPassword()">   <!-- Removes address -->
							        			<span class="remove-field">
							        				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Eliminar
							        			</span>
							        			<a href ng-click="editPassword()"> <!-- Edits address -->   
							        			<span class="edit-field edit-address">
							        				<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Editar
							        			</span>
							        		</a>
							        		</p>
							        		<p class="address-info">{{i.street + " " + i.number + ((i.floor != null || i.gate != null) ?  (" - " + i.floor + " " + i.gate) : "")}}</p> 
							        		<p class="address-info">{{ (i.city != null ? (i.city + ", ") : "") + getProvinceById(i.province) + " (CP:" + i.zipCode + ")" }}</p>
											<p class="address-info"><span class="address-info-name">Telefono: </span>{{i.phoneNumber}}</p>
							        	</div>
							        	<div class="add-address-button">
								        	<button type="button" class="btn btn-primary" ng-click="addAddress()" ng-disabled="creatingAddress.show_form">Agregar dirección</button>
								        </div>

						        		<!-- Add Address form -->
						        		<div class="add-address-form" ng-show="creatingAddress.show_form">
								        	<form role="form">
								        		<div class="row">
									        		<div class="col-md-4">
							        					<div class="form-group">
							        						<label>Nombre: <span class="requerido">*</span></label>
							        						<input autofocus class="form-control add-address-input" ng-model="createAddress.name">
							        					</div>
							        				</div>
							        		
								        			<div class="col-md-4">
								        				<div class="form-group">
							        						<label>Calle: <span class="requerido">*</span></label>
							        						<input class="form-control add-address-input" ng-model="createAddress.street">
							        					</div>
								        			</div>
						        				</div>


						        				<div class="row">
						        					<div class="col-md-4">
							        					<div class="form-group">
							        						<label>Número: <span class="requerido">*</span></label>
							        						<input class="form-control add-address-input" ng-model="createAddress.number">
							        					</div>
							        				</div>
							        				<div class="col-md-2">
							        					<div class="form-group">
							        						<label>Piso:</label>
							        						<input class="form-control add-address-input add-address-input-sm" ng-model="createAddress.floor">
							        					</div>
							        				</div>
							        				<div class="col-md-1">
							        					<div class="form-group">
							        						<label>Depto.:</label>
							        						<input class="form-control add-address-input add-address-input-sm" ng-model="createAddress.gate">
							        					</div>
							        				</div>
						        				</div>

						        				<div class="row">
						        					<div class="col-md-4">
							        					<div class="form-group">
							        						<label>Provincia <span class="requerido">*</span></label>
															<select class="form-control add-address-input" ng-model="createAddress.province">
							                                	<option ng-repeat="i in creatingAddress.states" ng-value="i.stateId">{{i.name}}</option>
							                                </select>
							                            </div>
							                        </div>

							                        <div class="col-md-4">
							        					<div class="form-group">
							        						<label>Ciudad:</label>
							        						<input class="form-control add-address-input" ng-model="createAddress.city">
							        					</div>
							        				</div>
						                        </div>

						                        <div class="row">
							        				<div class="col-md-4">
							        					<div class="form-group">
							        						<label>Código Postal: <span class="requerido">*</span></label>
							        						<input class="form-control add-address-input" ng-model="createAddress.zipCode">
							        					</div>
							        				</div>

							        				<div class="col-md-4">
							        					<div class="form-group">
							        						<label>Teléfono: <span class="requerido">*</span></label>
							        						<input class="form-control add-address-input" ng-model="createAddress.phoneNumber">
							        					</div>
							        				</div>
						        				</div>

						        				<div class="row">
						        					<div class="col-md-4">
						        					</div>
						        					<div class="col-md-6">
								        				<div class="add-address-form-buttons">
								        					<button type="button" class="btn btn-primary" ng-click="closeAddAddressForm()">Cancelar</button>
							        						<button type="button" class="btn btn-primary" ng-click="applicateAddAddress()">Aceptar</button>

								        				</div>
								        			</div>
								        		</div>
					        				</form>
										</div>


										

							        </div>

							        <div class="tab-pane fade" id="Tarjetas">
										Hola tarjetas
			
									</div>

									<div class="tab-pane fade" id="Compras">
										Hola compras
			
									</div>







							        <!-- Updating modal -->
									<div modal-show modal-visible="updating.show_modal" class="modal fade" role="dialog" aria-labelledby="register-error-modal-Label">
									  	<div class="modal-dialog" role="document">
									    	<div class="modal-content">
									      		<div class="modal-header">
									        		<button type="button" class="close" data-dismiss="modal" ng-click="dismissMessage()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									        		<h4 class="modal-title">{{updating.message}}</h4>
									      		</div>
										      	<div class="modal-body" id="register-modal-body">
											        <p> {{ updating.hint }} <p>
										      	</div>
										      	<div class="modal-footer">
										        	<button autofocus type="button" class="btn btn-default" data-dismiss="modal" data-target="register-error-modal" ng-click="dismissMessage()">Aceptar</button>
										      	</div>
									    	</div>
									  	</div>
									</div>

									<!-- Creating address modal -->
									<div modal-show modal-visible="creatingAddress.show_modal" class="modal fade" role="dialog" aria-labelledby="add-address-modal-Label">
									  	<div class="modal-dialog" role="document">
									    	<div class="modal-content">
									      		<div class="modal-header">
									        		<button type="button" class="close" data-dismiss="modal" ng-click="dismissCreatingAddressMessage()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									        		<h4 class="modal-title">{{creatingAddress.message}}</h4>
									      		</div>
										      	<div class="modal-body" id="add-address-body">
											        <p ng-repeat="i in creatingAddress.hints"> {{ i }} <p>
										      	</div>
										      	<div class="modal-footer">
										        	<button autofocus type="button" class="btn btn-default" data-dismiss="modal" data-target="add-address-modal" ng-click="dismissCreatingAddressMessage()">Aceptar</button>
										      	</div>
									    	</div>
									  	</div>
									</div>

						    </div>
						</div>
					</div>
				</div>

			</div>
		</div>

		<div class="col-md-2">
			
		</div>
	</div>


	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div ng-app=""> 
		<div ng-include="'footer.html'"></div> <!-- Import's footer -->
		</div>


</body>
</html>