
  <hr>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-2">
        <h3><b>Empresa</b></h3>
        <p>Nosotros</p>
        <p>Contacto</p>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-2">
        <h3><b>Ayuda</b></h3>
        <p>Atención al cliente</p>
        <p>Asistencia online</p>
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-1">
        <h3><b>Social</b></h3>
        <p>Facebook</p>
        <p>Twitter</p>
      </div>
    </div>
  </div>
