<div class="container-fluid">
    <div class="row" >
        <div class="col-sm-12">
            <a ng-href="{{getProductLink(prod.id)}}">
                <div class="thumbnail my_thumbnail">
                    <div id="img_size" ng-init="thumb_image='../../assets/clothes/t-shirts/' + prod.images[0]">
                        <img  src={{thumb_image}} alt="Remera" id="product_image"/>
                        <div class="caption" id="product_text">
                            <b><div class="row">
                                <div class="col-md-7 " id="product_title">
                                    {{ prod.name }}
                                </div>
                                <div class="col-md-5" id="product_price">
                                    {{'$' + prod.price}}
                                </div>
                            </div></b>
                            <div class="row">
                                <div class="col-md-12">
                                {{ prod.brand }}
                                    </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>