<div class="container-fluid :hover" onmouseover="">
    <div class="row" >
        <div class="col-sm-12">
            <a ng-href="{{getProductLink(prod.id)}}">
                <div class="thumbnail my_thumbnail">
                    <div id="img_size" ng-init="thumb_image='../../assets/clothes/t-shirts/' + prod.images[0]">
                        <img  src={{thumb_image}} alt="Remera" id="product_image"/>
                        <a href="">
                            <div class="caption" id="product_text">
                                <b>
                                    <div class="row">
                                        <div class="col-md-7 " id="product_title">
                                            {{ prod.name }}
                                        </div>
                                        <div class="col-md-5" id="product_price">
                                            {{'$' + prod.price}}
                                        </div>
                                    </div>
                                </b>
                                <div class="row">
                                    <div class="col-md-12">
                                        {{ prod.brand }}
                                    </div>
                                </div>
                            </div>

                            <!-- If hovered -->
                            <div class="hover_actions">
                                <div class="row">
                                    <div class="col-md-2">
                                        <p class="talle_color" style="vertical-align: middle">Color</p>
                                    </div>
                                    <div class="col-md-10">
                                        <button class="btn_choice" id="button" onclick = 'mark(this)'>

                                            <!--script
                                                switch (prod.color){
                                                    case "Rojo":
                                                        document.getElementById('button').style.backgroundcolor = "Red"
                                                        break;
                                                    case "Azul":
                                                        document.getElementById('button').style.backgroundcolor = "Blue"
                                                        break;
                                                    case "Amarillo":
                                                        document.getElementById('button').style.backgroundcolor = "Yellow"
                                                        break;
                                                    case "Blanco":
                                                        document.getElementById('button').style.backgroundcolor = "White"
                                                        break;
                                                    case "Negro":
                                                        document.getElementById('button').style.backgroundcolor = "Black"
                                                        break;
                                                    default:
                                                        document.getElementById('button').disabled = "true"
                                                }
                                            </script-->
                                        </button>
                                    </div>
                                </div>

                                <!--Buttons for sizes-->
                                <div class="row">
                                    <div class="col-md-2">
                                        <p class="talle_color">Talle</p>
                                    </div>
                                    <div class="col-md-10">
                                        <div ng-repeat="size in prod.sizes">
                                        <button class="btn_choice" onclick = 'mark(this)'> {{size}} </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12 add_to">
                                        <button type="button" class="btn btn-default btn_glyph">
                                            <h5>Anadir a <i class="glyphicon glyphicon-shopping-cart"></i></h5>
                                        </button>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12 add_to" >
                                        <button type="button" class="btn btn-default btn_glyph">
                                            <h5> Anadir a <i class="glyphicon glyphicon-heart"></i></h5>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>