
.sort-selector {

	width: 150px;
}


.remove-filter-link {

	color: red;
}

.remove-filter-link :hover{

	color: #ba1c1c;
}

.remove-filter-link :active{

	color: black;
}

.applicated-filters {

	padding-left: 1em;
}

.applicated-filters .filter-name {

	font-weight: bold;
}

/* This only works with JavaScript, 
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../../assets/loading.gif) center no-repeat #fff;