
#page-title > h1 {

	text-align: center;
	vertical-align: top;
}

#categories-holder {

	padding-bottom: 2.5em;

}



#categories-holder > div > a > img{

	padding: 0.5em;
	border: solid 1px #E4e4e4;

}

.category-image {


}

.category-text {
		
	padding: 1em 0 1em;
	text-align: center;
}

#sub-categories {
	padding: 1em 0 1em;

}

#sub-categories > ul {
	list-style: none;
	text-align: left;
}

#sub-categories > ul > li > ul{
	list-style: none;
	text-align: left;
	
}

#sub-categories > ul > li > ul > li:before {
		content: '– ';
	};
